/* NAVBAR */
#OBP-logo,
#OA-logo {
    height: 1.5em;
}
#nav-book-cover {
    width: 8em;
}

/* ZOOM SELECTOR */
.zoom-selector {
    font-family:serif;
}
.small {
    font-size: 1.2rem;
}
.medium {
    font-size: 1.5rem;
}
.large {
    font-size: 1.9rem;
}

/* UIKIT */
em {
  color: inherit;
}
